<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info' , user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.user == current_user %>
            <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
          <td>
            <% if @book.user == current_user %>
            <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
            <% end %>
          </td>
          <td>
            <% if @book.favorited_by?(current_user) %>
            <%= link_to book_favorites_path(@book.id), method: :delete do %>
              <span style="color:red;">♥<%= @book.favorites.count %></span>
            <% end %>
            <% else %>
            <%= link_to book_favorites_path(@book.id), method: :post do %>
              ♥<%= @book.favorites.count %>
            <% end %>
            <% end %>
          </td>
          <td>コメント件数：<%= @book.book_comments.count %></td>
        </tr>
        <% @book.book_comments.each do |book_comment| %>
        <table class='table'>
          <td>
            <%= link_to(book_comment.user) do %>
            <%= image_tag book_comment.user.get_profile_image, size:'50x50' %><br>
            <%= book_comment.user.name %>
            <% end %>
          </td>
          <td><%= book_comment.comment %></td>
        </table>
        <% end %>
        <tr>
          <%= form_with model: [@book, @book_comment] do |f| %>
            <%= f.text_area :comment %>
            <%= f.submit "送信" %>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>